name: backend_CICD
on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Setup Go
              uses: actions/setup-go@v4
              with:
                go-version: '1.23'

            - name: Create .env file
              run: |
                echo "${{ secrets.ENV_FILE }}" >> .env

            - name: Install dependencies
              run: |
                go mod download

            - name: Build
              run: |
                go build -v ./...

            - name: Test
              run: |
                go test -v ./... --cover
